:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-0: #eaeaea;
  --color-grey-1: #F1F5F7;
  --color-grey-2: #F2F6F8;
  --color-grey-3: #F7F3EC;
  --color-grey-4: #F9F5F0;
  --color-grey-5: #C5C5C5;
  --color-grey-6: #A9A9A9;
  --color-blue-0: #3BBCE3;
  --color-blue-1: #3D546F;
  --color-blue-2: #32425C;
  --color-blue-3: #293449;
  --color-blue-4: #212A3A;
  --color-blue-5:#1D2739;
  --color-red-0: #EE3643;
  --color-red-1: #CA2C37;
  --color-red-2: #BA2732;
  --color-yellow-0: #FFD180;
  --color-yellow-1: #FFC047;
  --color-yellow-2: #FFBF47;
  --color-pink: #DC91D8;
  --color-green-0: #8ED78F;
  --color-green-1: #5FBB2D;
  --color-green-2: #63A63E;
  --color-green-3: #518534;
  --tranparent-white: rgba(255,255,255,0.3);
  --tranparent-extra-neutral: rgba(197,197,197,0.3);
  --tranparent-extra-light: rgba(197,197,197,0.5);
  --tranparent-extra-dark: rgba(169,169,169,0.3);
  --transparent-black: rgba(0, 0, 0, 0.15);

   /* FONTS */
   --font-cuprum: "Cuprum", Arial, sans-serif;
   --font-ptsans: "PT Sans", Arial, sans-serif;
 }

 body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--font-cuprum);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.main-button {
  background-color: var(--color-red-0);
  color: var(--color-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
}

/* Main navigation */

.main-header {
  background-color: var(--color-grey-1);
}

.header-logo {
  background-color: var(--color-red-0);
}

.menu-bar {
  color: var(--color-white);
  background-color: var(--color-blue-3);
}

.header-logo:active {
  background-color: var(--color-red-2);
}

.nav-searchbar,
.menu-bar-bookmark,
.menu-bar-cart {
  /*окошко серым*/
  color: inherit;
  background-color: transparent;
}

.nav-searchbar:active
.menu-bar-cart:active {
  opacity: 0.5;
}

.nav-searchbar:focus {
  background-color: var(--color-white);
}

.menu-bar-checkout {
  background-color: var(--color-green-2);
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 19px;
}

.menu-bar-cart {
  background-color: var(--color-red-0);
  padding-top: 9px;
  padding-right: 21px;
  padding-bottom: 9px;
  padding-left: 35px;
}

.menu-bar-checkout:active {
  opacity: 0.5;
}

.user-login {
  position: relative;
  width: 320px;
  height: 45px;
  background-color: var(--color-grey-0);
}

.user-icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url("/img/icons/icon-user.png");
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--color-black);
}

.user-logout::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 280px;
  width: 20px;
  height: 17px;
  background-image: url("/img/icons/icon-login.png");
}

.user-links {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-blue-2);
}

/* Header contacts */

.slogan {
  color: var(--color-red-0);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.menu-contact{
  color: var(--color-blue-2);
}

.header-phone {
  color: var(--color-red-0);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
}

.header-menu,
.header-menu-bar {
  list-style: none;
}

.login,
.registration {
  color: var(--color-black);
  font-size: 21px;
  line-height: 21px;
}

/* Website main navigation */
.main-header-nav {
  color: var(--color-white);
}

.header-nav-list {
  list-style: none;
  color: var(--color-white);
  background-color: var(--color-blue-2);
  padding: 0;
}

.nav-list-item {
  color: inherit;
}

/* Featured */

.featured-grid {
  list-style: none;
  padding: 0;
}

.featured-item {
  width: 300px;
  height: 123px;
  color: var(--color-white);
}

.featured-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.featured-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tranparent-white);
  width: 135px;
  padding: 10px 0 10px;
  /* Можно в таких сучаях сокращать написание паддинга? */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.featured-item-materials {
  background-color: var(--color-yellow-2);
}

.featured-item-tools {
  background-color: var(--color-blue-0);
}

.featured-item-tech {
  background-color: var(--color-pink);
}

.featured-item-sale {
  background-color: var(--color-green-0);
}

.featured-item-delivery {
  background-color: var(--color-yellow-1);
}

/* Popular */

.popular-heading {
  width: 940px;
  height: 89px;
  background-color: var(--color-grey-4);
}

.heading-blue {
  font-size: 30px;
  line-height: 30px;
  color: var(--color-blue-2);
  text-transform: uppercase;
}

.popular-list,
.brands-list {
  list-style: none;
}

/* Services */

.service-text {
    font-family: var(--font-ptsans);
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--color-black);
}

.service-list,
.service-info-list {
    list-style: none;
    padding: 0;
}

.heading {
    color: var(--color-black);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-button {
  padding-top: 11px;
  padding-right: 61.12px;
  padding-bottom: 9px;
  padding-left: 61.88px;
}

.credits-button {
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
}

.about-us-button {
  padding-top: 11px;
  padding-right: 40.29px;
  padding-bottom: 9px;
  padding-left: 39.71px;
}

.contacts-button:active {
    color: var(--color-blue-2);
    background-color: var(--color-white);
}

.client-list {
    list-style: none;
    padding: 0;
}

/* Footer */
.footer-nav,
.footer-top-links {
  background-color: var(--color-blue-2);
  color: var(--color-white);
}

.main-footer {
  background-color: var(--color-blue-3);
  color: var(--color-white);
}

.footer-phone {
  color: inherit;
}

.footer-links-top {
  list-style: none;
  padding: 0;
}

.footer-links-bottom {
  color: var(--color-yellow-0);
  list-style: none;
  padding: 0;
}

.footer-bottom-links,
.footer-email,
.footer-copyrights {
  color: var(--color-yellow-0);
}

.footer-copyright,
.footer-creators {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  list-style: none;
  padding: 0;
}
